@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body{
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
.navigations{
    margin:auto 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

}

.menu-items ul{
    display: flex;
    list-style: none;

}

ul>li{
    padding: 15px 10px;
    
}
ul>li:hover{
    background-color: #E02C6D;
    border-radius: 10px 2px 10px 2px;
    transition: 1s;
}
ul>li>a{
    align-content: center;
    text-decoration: none;
    color:#3A3A3A;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    margin-left: 10px;
   
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}
.right-section{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
 
}
.right-section img{
    width: 440px;
    height: 414px;
}
.left-section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
.left-section h1{
    font-size: 52px;
}


.main-header{
    font-size: 2em;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: black;
    
}


 .main-header:hover {
    transform: scale(1.1);
    transition: transform 1s ease-out;
    color: indianred;
}
.main-header:not(:hover){
    transform: scale(1);
    transition: transform 1s ease-out;
    color: indianred;
}


#theheader::after{
    content: " Chill";
    position: Bottom;
    animation: color-typing 10s infinite;
    transition: 1s;
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
    --color-4: #DBAD4A;
    --color-5: #ACCFCB;
    --color-6: #17494D;
    --color-7: #ACCFCB;
    --color-8: #E4A9A8;
    --color-9: #ACCFCB;
    --color-10: #3D8DAE;
    --color-11: #DF8453;
    --color-12: #E4A9A8;

}
 
 @keyframes color-typing {
    2%{
        content: '|';
        color: var(--color-1);
    }
    4%{
        content: 'O|';
    }
    6%{
        content:'Or|';
        color: var(--color-2);
    }
    8%{
        content:'Ord |';
        
    }
    10%{
        content:'Order|';
        color: var(--color-3);
        
    }
    12%{
        content: 'Order |';
    }
    14%{
        content:'Orde|';
        color: var(--color-4);
    }
    16%{
        content: 'Ord|';
    }
    18%{
        content:'Or|';
        color: var(--color-5);
    }
    20%{
        content:'O|'
    }
    22%{
       content:'|' ;
       color: var(--color-6);
    }
    24%{
        content: 'B|'
    }
    26%{ 
        content:'Bu|';
        color: var(--color-7);
    }
    28%{
        content:'Buy|';
    }
    30%{
        content: 'Buy |';
        color: var(--color-8);
    }
    32%{
        content: 'Bu|';
    }
    34%{
        content: "B|";
        color: var(--color-9);
    }
    36%{
        content: "|";

    }
    38%{
        content: "!";
        color: var(--color-10);
    }
    40%{
        content: "A|";

    }
    42%{
        content: "An|";
        color: var(--color-11);

    }
    44%{
        content: "And|";

    }
    46%{
        content: "An|";
        color: var(--color-12);

    }
    48%{
        content: "A|";

    }
    50%{
        content: "|";
        color: var(--color-12);
    }
    52%{
        content: "C|";
    }
    54%{
        content: "Ch|";
        color: var(--color-11);
    }
    56%{
        content: "Chi|"
    }
    58%{
        content: "Chil|";
        color: var(--color-10);
    }


    60%{
        content:'Chill |';
    }
    87%{
        content: 'Chil|';
        color: var(--color-9);
    }
    88%{
        content: 'Chi|';
        color: var(--color-8);
    }
    89%{
        content: 'Ch|';
        color: var(--color-7);
    }
    90%{
        content: 'C|';
        color: var(--color-6);
    }
    91%{
        content: '|';
        color: var(--color-5);
    }
    92%{
        content: 'S|';
        color: var(--color-4);
    }
    93%{
        content: 'Sl |';
        color: var(--color-3);
    }
    94%{
        content: 'Sle|';
        color: var(--color-1);
    }
    95%{
        content: 'Slee |';
        color: var(--color-2);
    }
    96%{
        content: 'Sleep |';
        color: var(--color-1);
    }
    97%{
        content: 'Sleep|';
        color: var(--color-4);
    }
    98%{
        content: 'Slee |';
        color: var(--color-9);
    }
    99%{
        content: 'S|';
        color: var(--color-11);
    }
    100%{
        content: '|';
        color: var(--color-5);
    }

}

.order button{
    background-color: #E02C6D;
    font-size: 16px;
    color:honeydew;
    font-weight: 500;
    border: none;
    padding: 10px 25px;
    border-radius: 40px;
    cursor: pointer;
    margin-top:20vh ;
    

    
}
.mid-section{
    margin: 5%;
}


.companies{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-width: 80%;
}


.company {
    margin: 40px 10px;
    
    
}
.sect-header{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 100px;

}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap:30px;
    justify-content: space-evenly;
    justify-items: center;
}
.product{
    width:330px;
    height: 475px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
    padding: 10px;
}
.product-img{
    width: 300px;
    height: 256px;
    margin: 15px;
}
.product-img img{
    width: 100%;
}
.product-details{
    margin: 15px;
    
} 
.p-name{
    font-size: 28px;
    font-weight: 500;
    margin: 5px 0px;
}
.p-price{
    margin: 5px 0px;
    font-size: 24px;
}
.p-rating .filled{
    color: #FB8200;
    font-size: 14px;
}
.p-rating .half{
    color: #FB8200;
    font-size: 14px;
}
.p-rating span{
    color:#5E6366;
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
}
.p-description{
    color :#787885;
    font-size: 14px;
    text-align: left;
    font-weight: 700;

}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mid{
    color: #eb9834;;
}
.contact-image{
    width:95%
}
.contact-image img{
    width: 100%;
}
.contact-form{
    width: 95%
    
 
}
.contact-form form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
    
.contact-form .textform{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    font-family: inherit;
    outline:lightyellow;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eb9834;
    
}
.contact-form form button{
    padding: 10px;
    background-color: #eb9834;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    

}
    


.footer{
    background-color: rgb(12, 12, 12);
    padding: 20px 25px;
    text-align: center;
    height: 150px;
    
}
.footer-section h2{
    font-size: 25px;
    color: mintcream;
}
.footer-section p{
    font-style: bolder;
    font-size: 16px;
    margin-top: -15px;
    color: mintcream;
}
footer .social{
    color: mintcream;
    font-size: 25px;
}
.social i{
    padding: 5px;
}

/*==============================================
================ MEDIA QUERIES =================
================================================*/
@media (max-width: 480px) {
    .container {
      display: none;
      grid-template-columns: 1fr; 
      justify-items: center;
      align-content: center;
    }
 
    
    .left-section h1{
        font-size: 28px;
    }
    
    .right-section img{
        width: 257px;
        height: 257px;;
    }
  
    #left {
      order: 2; 
    }
  
    #right {
      order: 1; 
    }

    .companies{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        align-content: center;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;
    }


    .contact{
        display: grid;
        grid-template-columns: 1fr;
    }

  }
  
 
/* for tabs */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }

    .container{
        display: block;
    }

    .companies{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        align-content: center;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr;

    }


    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
}

    
  