@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body{
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}
.top{
    display: flex;
    margin: 5%;
}
.left-section{
    width: 45%;
    font-size: 2em;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}
.right-section{
    width: 45%;
}
.mid-section{
    margin: 5%;
}
.companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-width: 80%;
}


.company {
    margin: 40px 10px;
    
    
}